{% extends "wrapper.html" %}
{% load static %}
{% block content %}

<div class="heading-elements hidden-mobile" style="margin-left: 10px;">
    <a href="{% url 'main:employee' %}" id="addEmployeeLink">
        <button class="btn btn-primary btn-icon-fixed" style="margin-top: 10px;"><span class="icon-indent-increase"></span> Xodimlar ro'yxati </button>
    </a>
</div>
                    
<!-- START PAGE CONTAINER -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Xodim qo'shish</h2>
            <form action="{% url 'main:add_employee' %}" method="post">
                {% csrf_token %}
                <div class="block block-condensed padding-20">
                    <div class="form-group">
                        <label for="telegram_id"><span class="fa fa-send-o"></span> Telegram ID tanlang:</label>
                        <select name="telegram_id" id="telegram_id" class="form-control">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.telegram_id }} - {{ user.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="full_name"><span class="icon-user"></span> To'liq ismini kiriting :</label>
                        <input type="text" class="form-control" id="full_name" name="full_name" placeholder="To'liq ismi">
                    </div>
                    
                    <div class="form-group">
                        <label for="position"><span class="icon-briefcase"></span> Lavozimni tanlang:</label>
                        <select name="position" id="position" class="form-control">
                        {% for choice in form.position.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                        </select>
                    </div>              
                    <div class="form-group">
                        <label for="phone_number"><span class="icon-smartphone"></span> Telefon raqami:</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Telefon raqami">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Saqlash</button>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Xatolik!</strong> Quyidagi xatolar mavjud:
                            <ul>
                                {% for field_errors in errors %}
                                {% if field_errors %}
                                <li>{{ field_errors }}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
</div>
{% endblock %}
