{% extends "wrapper.html" %}
{% load static %}
{% block content %}

<div class="block-content padding-top-10">
    <div class="heading-elements padding-top-40" style="margin-left: 10px;">
        <a href="{% url 'main:company_structure_add' %}" id="addEmployeeLink">
            <button class="btn btn-primary btn-icon-fixed" style="margin-top: 10px;"><span class="fa fa-edit"></span> Yangi ma'lumot qo'shish </button>
        </a>

        <a href="{% url 'main:category_structure_add' %}" id="addEmployeeLink">
            <button class="btn btn-primary btn-icon-fixed" style="margin-top: 10px;"><span class="fa fa-usb"></span> Kategoriya qo'shish </button>
        </a>
    </div>
</div>

{% if company_structure %}
<div class="block-content padding-top-0">
    <div class="row">
        <div class="col-md-12">  
            {% for info in company_structure %}  
            <div class="block block-condensed padding-top-50">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="list-group"> 
                        
                        <div class="list-group-item col-md-12"><span class="fa fa-sitemap"></span> Ma'lumot turi :
                            <label for="category">{{ info.category }}</label>
                        </div>
                        
                        <div class="list-group-item col-md-12"><span class="fa fa-file-text-o"></span> Ma'lumot tasnifi :
                            <label for="task_name">{{ info.text }}</label>
                        </div>

                        {% if info.pdf %}                    
                        <div class="list-group-item col-md-12"><span class="fa fa-file-pdf-o"></span> Qo'shimcha ma'lumot:
                            <label for="pdf">{{ info.pdf }}</label>
                        </div>
                        {% endif %}

                        <div class="list-group-item col-md-6">
                            <label for="task_name"></label>
                            {% if info.image %}
                            <div class="image-container">
                                <img src="{{ info.image.url }}" alt="Rasm" width="420" height="200">
                            </div>
                            {% endif %}
                        </div>
                
                        <div class="list-group-item col-md-6">
                            <label for="task_name"></label>
                            {% if info.video %}
                            <div class="video-container">
                                <video width="420" height="200" controls>
                                    <source src="{{ info.video.url }}" type="video/mp4">
                                </video>
                            </div>
                            {% endif %}
                        </div>
                        <div class="list-group-item col-md-2">
                            <a href="{% url 'main:update_company_structure' info.id %}" class="btn btn-primary btn-clean btn-block btn-xs">
                                <span class="fa fa-refresh"></span> Taxrirlash
                            </a> 
                        </div>
                        <div class="list-group-item col-md-2">
                            <a href="{% url 'main:delete_company_structure' pk=info.pk %}" class="btn btn-danger btn-clean btn-block btn-xs">
                                <span class="fa fa-trash"></span> O'chirish
                            </a> 
                        </div>
                    </div> 
                </form>
            </div> 
            {% endfor %}                               
        </div>
    </div>                        
</div>

{% else %}
        <div class="alert alert-danger" role="alert" style="margin-top:60px">
            <ul>
                <h2>Ma'lumot topilmadi, yangi ma'lumot qo'shing !</h2>
            </ul>
        </div>
{% endif %}

{% endblock %}
