<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>                        
    <title>Kirish</title>            
    
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->        
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- EOF CSS INCLUDE -->
</head>
<body>        

    <!-- APP WRAPPER -->
    <div class="app app-fh">

        <!-- START APP CONTAINER -->
        <div class="app-container" style="background: url({% static 'assets/images/background/bg-1.jpg' %}) center center no-repeat fixed;">
            
            <div class="app-login-box">
                <div class="app-login-box-title padding-top-30">
                    <div class="title">Kirish</div>
                </div>                    
                <div class="app-login-box-container margin-top-20">
                    <form action="{% url 'main:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Foydalanuvchi nomini kiriting :</label>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="Foydalanuvchi nomi">
                            {% if form.errors.username %}
                                <p class="error-message">{{ form.errors.username }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_password">Parolni kiriting :</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Parol">
                            {% if form.errors.password %}
                                <p class="error-message">{{ form.errors.password }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">                                
                            <button type="submit" class="btn btn-success btn-block">Kirish</button>                                
                        </div>
                    </form>
                </div>                           
            </div>         
        </div>
        <!-- END APP CONTAINER -->
       
    </div>        
    <!-- END APP WRAPPER -->                
    
    <!-- IMPORTANT SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
    <!-- END IMPORTANT SCRIPTS -->
    <!-- APP SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app_plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app_demo.js' %}"></script>
    <!-- END APP SCRIPTS -->
</body>
</html>
