{% extends "simple_wrapper.html" %}
{% load static %}
{% block content %}

 <!-- EOF CSS INCLUDE -->
 <style>
   / * Mobil qurilma uchun moslashtirilgan CSS */
    @media (max-width: 768px) {
        /* Misol uchun */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
            color: black;
        }
    }  
</style>

<!-- END PAGE HEADING -->
<div class="heading-elements" style="margin-left: 10px;">
    <a href="{% url 'main:task' %}" id="addTaskLink">
        <button class="btn btn-primary btn-icon-fixed" style="margin-top: 10px;"><span class="fa fa-reorder"></span> Topshiriqlar ro'yxati </button>
    </a>
</div>
<!-- START PAGE CONTAINER -->

<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-10 col-xs-6">    
                <div class="block block-condensed padding-top-5">
                    <div class="list-group">                                        
                        <div class="list-group-item">
                            <label for="task_name"><span class="fa fa-pencil-square-o"></span> Topshiriq nomi:</label>
                            <input type="text" name="name" id="task_name" class="form-control">
                        </div><br>
                        <div class="form-group">
                            <label for="employees" style="margin-left: 15px;"><span class="fa fa-users"></span> Xodimlar :</label>
                            <select name="employees" id="employees" class="form-control" multiple>
                                {% for xodim in xodimlar %}
                                    <option value="{{ xodim.id }}">{{ xodim.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>     
                    <div class="block-content padding-top-20">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                <button type="submit" class="btn btn-success btn-clean btn-block btn-xs"><span class="fa fa-download"></span> Saqlash</button>
                            </div>                                                  
                        </div>                                        
                    </div>
                </div>                                
            </div>
        </div>                        
    </form>   
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // MultiSelectTag yaratamiz, 'employees' ID elementini olish uchun
        new MultiSelectTag('employees', {
            rounded: true,
            shadow: true,
            placeholder: 'Qidirish',
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
        });
        wrapperBody = document.querySelector('.btn-container')
        wrapperBody.style.backgroundColor = 'aqua';
    });
</script>   


{% endblock %}
