{% extends "wrapper.html" %} 
{% load static %} 
{% block content %}

<div class="block-content padding-top-30">
  <div class="row">
    <div class="col-md-12 col-xs-6">
      <div class="block block-condensed padding-top-20">
        <form
          method="post"
          enctype="multipart/form-data"
          id="update_company_structure_form"
          action="{% url 'main:update_company_structure' pk=object.pk %}">
          {% csrf_token %}
          <div class="list-group">
            <div class="list-group-item">
              <label for="category">
                <span class="icon-license"></span> Kategoriya nomini tanlang :</label>
              {{ form.category }}
            </div>

            <div class="list-group-item">
              <label for="pdf">
                <span class="icon-license"></span> Faylni kiriting :</label>
              {{ form.pdf }}
            </div>
            
            <div class="list-group-item">
              <label for="text"
                ><span class="icon-license"></span> Kompaniya haqida ma'lumot
                kiriting :</label
              >
              {{ form.text }}
            </div>
            <div class="list-group-item col-md-6">
              <label for="image"
                ><span class="icon-picture"></span> Kompaniya haqida rasm
                kiriting :</label
              >
              {{ form.image }}
            </div>
            <div class="list-group-item col-md-6">
              <label for="video"
                ><span class="icon-film-play"></span> Kompaniya haqida video
                kiriting :</label
              >
              {{ form.video }}
            </div>
          </div>
          <input
            type="hidden"
            name="company_structure_id"
            value="{{ object.pk }}"
          />
          <div class="block-content padding-top-20">
            <div class="row">
              <div class="col-md-3 col-md-offset-4">
                <button
                  type="submit"
                  class="btn btn-success btn-clean btn-block btn-xs">
                  <span class="fa fa-download"></span> Saqlash
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>  
  document.addEventListener("DOMContentLoaded", function () {
    var textInput = document.getElementById("id_text")
      document.getElementById("update_company_structure_form")
      .addEventListener("submit", function (event) {
        var textValue = document.getElementById("id_text").value.trim();

        if (textValue === "" ) {
          alert("Iltimos, barcha maydonlarni to'ldiring!");
          event.preventDefault();
        }
      });
      
    textInput.style.width = "320px"
    textInput.style.height = "100px"
  });
</script>

<!-- END APP WRAPPER -->
{% endblock %}
